.cardreport {
    width: 570px;
    max-height: 285px;
    min-height: 280px;
    background: #1C1C21;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 440px) {
    .cardreport {
        width: calc(100% - 2*20px);
        display: flex;
        flex-direction: column;
        padding: 5px;
        min-height: 570px;
        margin: 20px auto;
        align-items: center;
        justify-content: flex-start;
    }
}

.title {
    padding: 0;
    margin: 0;
    position: absolute;
    height: 40px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #2D2C32;
    border-radius: 25px 25px 0px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A7A7A7;
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 20px 0 30px;
    width: 20px;
    height: 20px;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 40px auto 0;
    gap: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #8A8A8C;
    padding: 0;
}

@media screen and (max-width: 440px) {
    .data {
        margin: 55px auto 20px auto;
    }
}

.prevday {
    cursor: pointer;
    background: #1C1C21;
    border: none;
    display: flex;
    justify-content: center;
}

.nextday {
    cursor: pointer;
    background: #1C1C21;
    border: none;
    display: flex;
    justify-content: center;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.next:hover * {
    fill: #A59557;
}

.reportitems {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: 0 auto 0 auto;
}



@media screen and (max-width: 440px) {
    .reportitems {
        display: flex;
        flex-direction: column;
        width: calc(100% - 2*5px);
        justify-content: center;
    }
}


.reportitem_center {
    width: 185px;
    height: 200px;
    border-radius: 0px 0px 0px 0px;
    background: #2D2C32;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 440px) {
    .reportitem_center {
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 15px 15px;
    }
}

.reportitem_left {
    width: 185px;
    height: 200px;
    border-radius: 15px 0px 0px 15px;
    background: #2D2C32;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 440px) {
    .reportitem_left {
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 15px 15px;
    }
}


.reportitem_right {
    width: 185px;
    height: 200px;
    border-radius: 0px 15px 15px 0px;
    background: #2D2C32;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 440px) {
    .reportitem_right {
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 15px 15px;
    }
}

.subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    color: #8A8A8C;
    text-align: left;
    margin: 15px auto 0 20px;
}

.currentvalue {
    font-family: 'BlenderPro';
    font-weight: 700;
    font-size: 38px;
    min-height: 45px;
    line-height: 37px;
    color: #A59557;
    padding: 0;
    margin: 30px auto 10px auto;
    border-bottom: 1px solid #A59557;
}

@media screen and (max-width: 440px) {
    .currentvalue {
        margin: 0px auto 0 auto;
        font-size: 35px;
        min-height: 30px;
    }
}

.unitvalue {
    font-size: 20px;
    margin: 0 auto 0 10px;
}

.targetvalue {
    font-family: 'BlenderPro';
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    margin: 0 auto 0 20px;
    line-height: 37px;
    color: #A7A7A7;
}

@media screen and (max-width: 440px) {
    .targetvalue {
        margin: 0 auto 0 20px;
    }
}

.button_center {
    background: #A59557;
    border-radius: 0px 0px 0px 0px;
    border: none;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #1C1C21;
}

@media screen and (max-width: 440px) {
    .button_center {
        border-radius: 0px 0px 15px 15px;
    }
}

.button_left {
    background: #A59557;
    border-radius: 0px 0px 0px 15px;
    border: none;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #1C1C21;
}

@media screen and (max-width: 440px) {
    .button_left {
        border-radius: 0px 0px 15px 15px;
    }
}

.button_right {
    background: #A59557;
    border-radius: 0px 0px 15px 0px;
    border: none;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #1C1C21;
}

@media screen and (max-width: 440px) {
    .button_right {
        border-radius: 0px 0px 15px 15px;
    }
}


.button_right:hover {
    opacity: 0.7;
}

.button_left:hover {
    opacity: 0.7;
}

.button_center:hover {
    opacity: 0.7;
}