.mainpage {
    margin: 50px auto 25px;
    padding: 0;
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media screen and (max-width: 440px) {
    .mainpage {
        width: 100%;
        height: 120%;
        margin: auto;
        justify-content: center;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }
}