.cardweektasks {
    width: 570px;
    /* max-height: 285px; */
    height: 300px;
    min-height: 280px;
    background: #1C1C21;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 440px) {
    .cardweektasks {
        width: calc(100% - 2*20px);
        display: flex;
        flex-direction: column;
        padding: 5px;
        /* min-height: 350px; */
        margin: 20px auto;
        align-items: center;
        justify-content: flex-start;
    }
}

.title {
    padding: 0;
    margin: 0;
    position: absolute;
    height: 40px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #2D2C32;
    border-radius: 25px 25px 0px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A7A7A7;
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 20px 0 30px;
    width: 20px;
    height: 20px;
}

.message {
    background: #2D2C32;
    border-radius: 15px;
    margin-top: 40px;
    height: calc(100% - 2*20px);
    position: relative;
}

@media screen and (max-width: 440px) {
    .message {
        margin: 55px auto 30px auto;
        /* margin-top: 55px; */
        /* margin-bottom: 15px; */
        display: flex;
        flex-direction: column;
        width: calc(100% - 2*5px);
        justify-content: center;
        height: calc(100% - 2*35px);
    }
}

.message_box {
    margin: 10px auto 10px auto;
    width: 100%;
    height: calc(100% - 2*10px);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    overflow-y: scroll;
}

@media screen and (max-width: 440px) {
    .message_box {
        display: flex;
        flex-direction: column;
        max-height: 450px;
        /* height: calc(100% - 2*10px); */
        height: 100%;
    }
}


.message_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
    color: #D7D8DA;
    margin: 0 20px 0 20px;
}

.necessarily {
    background: #C5AD60;
    border-radius: 10px;
    width: 100px;
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #1C1C21;
    margin: 10px auto 0 0;
}

.recommended {
    background: #8A8A8C;
    border-radius: 10px;
    width: 100px;
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #1C1C21;
    margin: 0 auto 0 0;

}

/* .counterweeks {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #A59557;
    position: absolute;
    top: 5px;
    left: 15px;
     background: #C5AD60;
} */

.message_box::-webkit-scrollbar {
    width: 3px;
    background: #8A8A8C;
    border-radius: 20px;
}

.message_box::-webkit-scrollbar-thumb {
    background: #C5AD60;
    border: 3px solid #C5AD60;
    border-radius: 20px;
}

/* ::-webkit-scrollbar-track {
    width: 10px;
} */

.message_box::-webkit-scrollbar-button {
    height: 30%;
}